.header__new {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-bottom: 10vh;

  // height: 95vh;
  // background-image: linear-gradient(
  //     to bottom,
  //     rgba($color-black, 0.1),
  //     rgba($color-black, 0.9)
  //   ),
  //   url(../img/metal2.jpg);
  // background-size: cover;
  // background-position: top;
  // position: relative;

  // @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  //   // -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  //   // clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  //   height: 95vh;
  // }

  // @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
  //   only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
  //   only screen and (min-width: 125em) {
  //   background-image: linear-gradient(
  //     to bottom,
  //     rgba($color-black, 0.4),
  //     rgba($color-black, 0.4)
  //   );
  //   //url(../img/razor.jpg);
  // }

  // @include respond(phone) {
  //   // -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  //   // clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  // }

  // &__logo-box {
  //   position: absolute;
  //   top: 4rem;
  //   left: 4rem;
  // }

  // &__logo {
  //   height: 25rem;
  // }

  // &__text-box {
  //   position: absolute;
  //   top: 45%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   text-align: center;
  // }
}

.header__logo {
  min-width: 300px;
  margin-top: 5px;
}

.header__img {
  width: 600px;
  max-width: 100%;
  max-height: 600px;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
}

.header__h1 {
  font-size: 4rem;
  color: rgb(180, 16, 16);
  text-shadow: 0 2rem 4.5rem rgba(0, 0, 0, 0.3);
}

.header__h2 {
  font-size: 3.2rem;
  text-shadow: 0 2rem 4.5rem rgba(0, 0, 0, 0.3);
}

.header__btn,
.header__btn:link,
.header__btn:visited {
  margin-top: 5px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 4rem;
  display: inline-block;
  transition: all 0.2s;
  position: relative;
  font-size: 2.2rem;
  border: 4px solid black;
  cursor: pointer;
  color: $color-black;
  background: rgba(210, 214, 218, 0.5);
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15),
    inset 2rem 2rem 3rem rgba($color-black, 0.15);
}

.header__btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.header__btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.header__btn:active,
.header__btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .header__img {
    margin-bottom: 4rem;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 38%;
  }
  .header__img {
    max-height: 800px;
    margin-bottom: 6rem;
  }
  .header__btn,
  .header__btn:link,
  .header__btn:visited {
    margin-top: 4rem;
    padding: 2rem 4.5rem;
    font-size: 4rem;
    font-weight: 400;
  }
  .header__section {
    margin-top: 4rem;
  }
  .header__btn {
    margin-top: 4rem;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
