.section-about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;

  border-top: 4px solid silver;
  background-image: linear-gradient(
      to bottom,
      rgba($color-black, 0.9),
      rgba($color-black, 0.9)
    ),
    url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCI+CjxyZWN0IHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCIgZmlsbD0iI2ZmZiI+PC9yZWN0Pgo8ZyB0cmFuc2Zvcm09InJvdGF0ZSg0NSkiPgo8cmVjdCB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9IiMwMDAiPjwvcmVjdD4KPHJlY3QgeT0iLTUwIiB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9IiMwMDAiPjwvcmVjdD4KPC9nPgo8L3N2Zz4=');

  padding: 6rem 0;
  font-size: 3.5rem;
  text-shadow: 0 2rem 4.5rem rgba(0, 0, 0, 0.3);
  color: $color-black;
  @include respond(tab-port) {
    padding: 5rem 0;
    font-size: 3.5rem;
  }
  img {
    margin-bottom: 2rem;
    width: 380px;
    max-width: 100%;
    max-height: 380px;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
  }
}

.dedication__text {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 3rem;
}

.dedication__column {
  padding: 0 0.1rem;
}

.read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: 0.25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  white-space: nowrap;
  content: 'Read more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Read less';
}

.read-more-trigger {
  margin-top: 1em;
  cursor: pointer;
  display: inline-block;
  padding: 0.4em 1.8em 0.4em 1.6em;
  color: $color-black;
  font-size: 1em;
  line-height: 2;
  border: 2px solid silver;
}

.section-features {
  border-top: 2px solid silver;
  padding: 20rem 0 30rem 0;
  border-bottom: 2px solid silver;
  font-size: 4rem;
  text-shadow: 0 2rem 4.5rem rgba(0, 0, 0, 0.3);
  color: $color-black;
  background-position: left;
  background-image: linear-gradient(
      to left bottom,
      rgba($color-black, 0.5),
      rgba($color-black, 0.5)
    ),
    url(../img/shave_op.jpg);
  background-size: cover; // transform: skewY(-7deg);
  // margin-top: -10rem;
  & > * {
    //  transform: skewY(7deg);
  }

  @include respond(tab-port) {
    padding: 4rem 0;
    font-size: 3.6rem;
    h3 {
      font-size: 3rem;
    }
    p {
      font-size: 2rem;
    }
  }

  @include respond(tab-land) {
    padding: 4rem 0;
    font-size: 3.6rem;

    h3 {
      font-size: 3rem;
    }
    p {
      font-size: 2rem;
    }
  }
  @include respond(big-desktop) {
    padding: 4rem 0;
    font-size: 3.6rem;
    border: 1px solid green;
    #beard:after {
      content: '<br>';
    }
    h3 {
      font-size: 3rem;
    }
    p {
      font-size: 2rem;
    }
  }
}

.section-tours {
  background-image: linear-gradient(
      to left bottom,
      rgba($color-black, 0),
      rgba($color-black, 0)
    ),
    url(../img/shave.jpg);
  border: 6px solid black;
  padding: 8rem 0 15rem 0;
  margin-top: -10rem;
  @include respond(tab-port) {
    padding: 10rem 0 10rem 0;
  }
}

.section-stories {
  text-shadow: 0 2rem 4.5rem rgba(0, 0, 0, 0.3);
  color: $color-black;
  font-size: 3.5rem;
  background-image: linear-gradient(
      to bottom,
      rgba($color-black, 0.9),
      rgba($color-black, 0.9)
    ),
    url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCI+CjxyZWN0IHdpZHRoPSI3MCIgaGVpZ2h0PSI3MCIgZmlsbD0iI2ZmZiI+PC9yZWN0Pgo8ZyB0cmFuc2Zvcm09InJvdGF0ZSg0NSkiPgo8cmVjdCB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9IiMwMDAiPjwvcmVjdD4KPHJlY3QgeT0iLTUwIiB3aWR0aD0iOTkiIGhlaWdodD0iMjUiIGZpbGw9IiMwMDAiPjwvcmVjdD4KPC9nPgo8L3N2Zz4=');

  position: relative;
  padding: 15rem 0;
  @include respond(tab-port) {
    padding: 10rem 0;
  }
  .instagram {
    &:link,
    &:visited {
      text-shadow: 0 2rem 4.5rem rgba(0, 0, 0, 0.3);
      display: inline-block;
      font-size: 3.3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-secondary-light;
      text-decoration: none;
      text-transform: uppercase;
      background-size: 220%;
      transition: all 0.4s;
      span {
        margin-right: 1.5rem;
        transition: all 0.4s;
      }
      span {
        display: inline-block;
      }
    }
  }
}

.section-book {
  border-top: 4px solid silver;
  position: relative;
  padding: 15rem 0;
  background-image: linear-gradient(
    to left bottom,
    rgba($color-grey-light-1, 0),
    rgba($color-grey-light-1, 0)
  );
  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.map__title {
  font-size: 4.6rem;
  color: $color-black;
  text-shadow: 0 2rem 4.5rem rgba(0, 0, 0, 0.3);
}

.address {
  text-shadow: 0 2rem 4.5rem rgba(0, 0, 0, 0.3);
  font-size: 3rem;
  color: $color-black;
  text-shadow: 0 2rem 4.5rem rgba(0, 0, 0, 0.3);
}

.book {
  width: 100%;
  height: 600px;
  background-image: url(https://maps.googleapis.com/maps/api/staticmap?autoscale=2&size=600x350&maptype=roadmap&scale=2&key=AIzaSyCmLjbd91sCJ02knXEI9ryVkLvYvqFBtxk&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0x0080ff%7clabel:%7C329+hartz+ave+danville+ca);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
  @include respond(tab-land) {
    height: 450px;
    width: 100%;
    background-image: url(https://maps.googleapis.com/maps/api/staticmap?autoscale=2&size=475x350&maptype=roadmap&scale=2&key=AIzaSyCmLjbd91sCJ02knXEI9ryVkLvYvqFBtxk&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0x0080ff%7clabel:%7C329+hartz+ave+danville+ca);
  }
  @include respond(tab-port) {
    height: 325px;
    width: 100%;
    background-image: url(https://maps.googleapis.com/maps/api/staticmap?autoscale=2&size=300x500&maptype=roadmap&zoom=18&scale=2&key=AIzaSyCmLjbd91sCJ02knXEI9ryVkLvYvqFBtxk&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0x0080ff%7clabel:%7C329+hartz+ave+danville+ca);
  } // &__form {
  //   position: relative;
  //   width: 100%;
  //   height: 300px;
  //   padding: 2rem;
  //   @include respond(tab-land) {
  //     width: 100%;
  //   }
  //   @include respond(tab-port) {
  //     width: 100%;
  //   }
}

#googlemap {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}
